/* Azzero le misure di Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Accentro il contenuto tramite il Contenitore Principale */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Altezza, Colore e Immagine al Header */
header {
    height: 100px;
    background-color: rgb(41, 135, 236);
    background-image: url(../img/pattern.png);
}

/* Grandezza e Sposto il Logo */
.logo {
    width: 150px;
    height: 100px;
    padding-top: 30px;
}

/*Titolo*/
h1 {
    font-size: 38px;
}

/* Sposto il contenuto del contenitore in basso*/
.main-section {
    padding-top: 10px;
}

/* Stile scritta autore pagina Web*/
.author-boolean {
    font-size: 20px;
    font-style: normal;
}

/* Colore testo Grigio Chiaro*/
.text-grey {
    color: rgb(207, 204, 204);
}

/* Decorazione del Collegamento Ipertestuale */
.boolean {
    text-decoration: none;
    color: rgb(41, 135, 236);
}

/* Dimensione Data e Autori delle foto*/
.author-photo {
    font-size: 12px;
}

/* Sposto il contenuto del contenitore in basso e diminuisco la grandezza*/
.tim-berners{
    padding-top: 10px;
}

/* Sposto il contenuto del contenitore in basso */
.text {
    padding-top: 10px;
}

/* Sposto il contenuto del contenitore in basso e lo allineo */
ul {
    padding-top: 10px;
    list-style-position: inside;
}

/* Contenitore Tabella */
.table-section {
    padding-top: 10px;
}

/* Tolgo bordi alla Tabella */
table {
    border-collapse: collapse;
}

/* Metto il contenuto th(w-50) che prende il 50% del Genitore */
.w-50 {
    width: 50%;
}

/* Intestazione Tabella */ 
.clear-blue {
    background-color: rgb(41, 135, 236);
}

/* Colore Testo Intestazione */
th {
    text-align: left;
    color: rgb(255, 255, 255);
}

/* Contenuto Tabella */
.clear-skyblue{
    background-color: rgb(10, 244, 244);
}

/* Sposto il contenuto del contenitore in basso */
.main-aside {
    padding-top: 20px;
}

/* Colore e Dimensione al h2*/
h2{
    color: rgb(128, 128, 128);
    font-size: 25px;
}

/*  Dimensioni Immagini */ 
.photo-interest {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

/* Immagine Monitor*/
.monitor {
    background-image: url(../img/monitor.jpg);
    margin-top: 20px;   
}

/* Immagine Grafico */
.graph {
    background-image: url(../img/graph.jpg);
}


