/* Azzero le misure di Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Accentro il contenuto tramite il Contenitore Principale */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Altezza, Colore e Immagine al Header */
header {
    height: 150px;
    background-color: rgb(41, 135, 236);
    background-image: url(../img/pattern.png);
}

/* Grandezza e Sposto il Logo */
.logo {
    width: 200px;
    height: 100px;
    padding-top: 50px;
}

/*Titolo*/
h1 {
    font-size: 38px;
}

/* Sposto il contenuto del contenitore in basso*/
.main-section{
    padding-top: 10px;
}

/* Stile scritta autore pagina Web*/
.author-boolean {
    font-size: 20px;
    font-style: normal;
}

/* Decorazione del Collegamento Ipertestuale */
.boolean {
    text-decoration: none;
    color: rgb(41, 135, 236);
}

/* Dimensione Data e Autori delle foto*/
time,
.author-photo {
    font-size: 12px;
}

/* Sposto il contenuto del contenitore in basso e diminuisco la grandezza*/
.tim-berners{
    padding-top: 5px;
}

/*Testo Evidenziato*/
.text-clear {
    font-weight: normal;
    background-color: rgb(255, 255, 0);
}

/* Sposto il contenuto del contenitore in basso */
.text {
    padding-top: 10px;
}

/* Sposto il contenuto del contenitore in basso */
ul {
    padding-top: 10px;
}

/* Sposto il mio contenuto + all'interno*/
li {
    margin-left: 15px;
}